# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
test-results
playwright-report
/.nyc_output

# build
out/
build
dist
dist-ssr
*.local

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
pnpm-debug.log*
lerna-debug.log*
*.log

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.project
.classpath
.c9/
.settings/
*.launch
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sublime-workspace